<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="/css/stylelogin.css">
        <img src="https://www.lankahospitals.com/wp-content/uploads/2017/02/center-header.jpg" alt="" width="1400px">

<br>
<br>

<br>
<!-- Diseases manager -->
 <div class="row" style="padding-right: 30px; padding-left: 30px; border-width:2px;
border-style:solid;
border-color:black;" >
        <!-- Add new disease -->
      
        <br>
        <form action="/app/adddisease" method="post" >
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Disease Name</label>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <input class="form-control" style="width: 100%;" type="text" name="diseaseName" required="true" placeholder="Enter Disease Name...">
                </div>
            </div>

            <!-- Last name input -->
            <div class="form-group row" >
                <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Disease Stage (3- High, 2-Normal, 1-Low )</label>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <input class="form-control" style="width: 100%;" type="number" name="diseaseStage" required="true" placeholder="Enter Disease Stage...">
                </div>
            </div>

            <input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add disease">
        </form>
    </div>

    <hr style="border-top: dotted 1px;" />

    <div class="row" style="padding-right: 30px; padding-left: 30px; border-width:2px;
border-style:solid;
border-color:black;" >

        <!-- Delete diseases -->
       
        <form action="/app/deletediseases" method="post">
            <table id="diseases-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <!-- JavaScript works here! -->
            </table>

            <input class="btn btn-danger" style="float: right;" type="Submit" name="Submit" value="Delete diseases">
        </form>
    </div>
</div>





<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/systemSettings.js"></script>
